body{
    font-family: Arial;
    background-color: #111827;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
    background-color: #1f2937;
    padding: 30px;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

h2{
    font-size: 48px;
} 

#lapList{
    list-style: none;
    padding: 0;
}

#lapList li{
    background-color: #374151;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}