body{
    font-family: Arial;
    background-color: #111827;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container{
    background-color: #1f2937;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

input{
    width: 70%;
    padding: 10px;
}

button{
    padding: 10px;
    cursor: pointer;
}

li{
    margin-top: 10px;
}