body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    text-align: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1{
    color: #4c1d95;
}

input{
    padding: 12px;
    width: 70%;
    border: 2px solid #c4b5fd;
    border-radius: 8px;
    font-size: 16px;
}

button{
    padding: 12px;
    border: none;
    background-color: #7c3aed;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #6d28d9;
}

#weatherResult{
    margin-top: 20px;
    color: #111827;
}